@media (min-width:999px) 
{   
    .modal-lg {max-width: 70%;}
}

*
{
    box-sizing: border-box;
}

nav
{
    background: linear-gradient(to left, rgb(40, 40, 102), rgb(10, 10, 59), rgb(7, 7, 59));
    color: orange;
    height: 70px;
}

footer
{
    display: flex;
    background: linear-gradient(to left, rgb(40, 40, 102), rgb(10, 10, 59), rgb(7, 7, 59));
    position: fixed;
    margin-top: 30px;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.titulos
{
    display: flex;
    justify-content: center !important; 
    align-items: center !important; 
}

.indImage
{
    width: 100%;
}

.notaFilme
{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    bottom: 35px;
    right: 5px;
    border-radius: 999px;
    background-color: rgb(10, 10, 59);
    color: yellow;
    border: 1px outset orange;
}

.capaFilme
{
    width: 156px;
    height: 230px;
    margin: 5px;
    border-radius: 15px;
}

.capaFilme:hover
{
    border: 3px solid red;
    transition: linear 0.1s;
}

#btnCadFilme
{
    width: 70%;
}

#btnDiv
{
    width: 100%;
    display: flex;
    justify-content: center;
}

#imgLupa
{
    position: relative;
    right: 50px;
}

#buscaFilme
{
    width: 100%;
    border-radius: 999px;
}

#formPesquisa
{
    width: 100%;
}

#containerPesquisa
{
    background-image: url('../img/gifMaze.gif');
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#filmes
{
    display: flex;
    grid-template-columns: 156px 156px 156px 156px 156px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 56px;
}

#filmesBox
{
    border: 1px outset orange;
    border-top-left-radius: 56px;
    border-top-right-radius: 56px;
    border-bottom: 0px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
