@media (min-width:999px) 
{   
    .modal-lg {max-width: 70%;}
}

footer
{
    display: flex;
    position: static;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.indImage
{
    width: 100%;
}

.capaFilme
{
    width: 156px;
    height: 230px;
    margin: 5px;
    border-radius: 15px;
}

#btnCadFilme
{
    width: 70%;
}

#btnDiv
{
    width: 100%;
    display: flex;
    justify-content: center;
}

#imgLupa
{
    margin-right: 10px;
}