@media (min-width:999px) 
{   
    .modal-lg {max-width: 70%;}
}

footer
{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.indImage
{
    width: 100%;
}

.capaFilme
{
    width: 156px;
    height: 230px;
    margin: 5px;
    border-radius: 15px;
}

#btnCadFilme
{
    width: 70%;
}

#btnDiv
{
    width: 100%;
    display: flex;
    justify-content: center;
}

#imgLupa
{
    position: relative;
    right: 50px;
}

#buscaFilme
{
    width: 100%;
    border-radius: 999px;
}

#formPesquisa
{
    width: 100%;
}

#containerPesquisa
{
    background-image: url('../img/gifMaze.gif');
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#filmes
{
    display: grid;
    grid-template-columns: 156px 156px 156px 156px 156px;
}
