footer
{
    display: flex;
    background-color: brown;
    position: static;
    margin-top: 30px;
    bottom: 0;
    width: 100%;
    height: 50px;
}

#filmeCapa
{
  width: 90%;
  height: fit-content;
  margin: 15px;
}

#imagemFilme
{
  width: 100%;
  height: 100%;
}

#infosDoFilme
{
    margin-left: 45px;
}

#idadeIndicativa
{
  border-radius: 4px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

#btnsUsuario
{
  position: relative;
  right: 13px;
}

#containerInformacoes
{
  width: 100%;
  border: 1px outset orange;
  height: fit-content;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 15px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;

}

.generos
{
    background-color: rgb(10, 10, 10);
    border-radius: 999px;
    width: 130px;
    text-align: center;
    margin-right: 15px;
}

.modal
{
  position: relative;
}

.estrelas input[type=radio] {
    display: none;
  }
  .estrelas label i.fa{
    font-size: 2.5em
  }
  .estrelas label i.fa:before {
    content:'\f005';
    color: #FC0;
  }
  .estrelas input[type=radio]:checked ~ label i.fa:before {
    color: #CCC;
  }
 
hr
{
    height: 5px;
    background: linear-gradient(to right, orange, purple);
}
