main {
    display: flex;
    justify-content: center;
}

#main {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#sobreMML {
    height: fit-content;
    width: 50%;
}

#registro {
    width: 50%;
    padding: 10px;
}

#cadastrar, #logar {
    margin-top: 20px;
    width: 100%;
    a {
        text-decoration: none;
        color: white;
    }
}