@media (min-width:999px) 
{   
    .modal-lg {max-width: 70%;}
}

footer
{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: fit-content;
}

body
{
    margin-bottom: 100px;
}

#listasContainer
{
    float: right;
}

#imagemPerfil
{
    max-width: 60%;
    border-radius: 50%;
    border: 1px solid black;
}

#imagemContainer
{
    width: fit-content;
    height: fit-content;
}

#listasContainer
{
    width: 75%;
}

#bttnListaFilmes
{
    width: 50%;
    height: 110px;
}

#bttnListaSeries
{
    width: 50%;
    height: 110px;
}

#fotoInfo
{
    width: 25%;
}

#lista
{
    width: 100%;
    height: calc(80%);
}

#informacoes
{
    height: calc(100%);
}

.btn
{
    width: 100%;
    height: calc(100%);
}