footer
{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

#listasContainer
{
    float: right;
}

#imagemPerfil
{
    width: 130px;
    height: 130px;
}

#imagemContainer
{
    width: fit-content;
    height: fit-content;
}

#listasContainer
{
    width: 100%;
    height: 164px;
}