main {
    display: flex;
    justify-content: center;
}

#cadastrar {
    margin-top: 30px;
    width: 100%;
}

#registro {
    width: 25%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#carousel img
{
    height: 897px;
    width: 1920px;
}

#boxPage
{
    display: flex;
    justify-content: end;
}