main {
    display: flex;
    justify-content: center;
}

#main {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#sobreMML {
    background-color: chartreuse;
    width: 40%;
    height: fit-content;
}

#registro {
    background-color: coral;
    width: 50%;
    padding: 10px;
}

#cadastrar {
    margin-top: 30px;
    width: 100%;
}