nav
{
    background: linear-gradient(to left, rgb(40, 40, 102), rgb(10, 10, 59), rgb(7, 7, 59));
    color: orange;
    height: 70px;
}

footer
{
    display: flex;
    background-color: rgb(10, 10, 59);
    position: fixed;
    margin-top: 30px;
    bottom: 0;
    width: 100%;
    height: fit-content;
}

#serieCapa
{
  width: 312px;
  height: 456px;
  margin: 15px;
  border-radius: 5px;
}

#infosDaSerie
{
    margin-left: 45px;
}

#containerInformacoes
{
  width: 100%;
  border: 1px outset orange;
  height: fit-content;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 15px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  
}

#containerTemporada
{
  width: 100%;
  border: 1px outset orange;
  height: fit-content;
  padding: 15px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  /* border-top: none; */
}

#comentarios
{
  width: 100%;
  border: 1px outset orange;
  height: fit-content;
  margin-bottom: 150px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 15px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  img {
    height: 100px; 
    width: 100px;
    border-radius: 50%;
  }
}

#btnsUsuario
{
  position: relative;
  right: 13px;
}

#idadeIndicativa
{
  border-radius: 4px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

#imagemSerie
{
  width: 100%;
  height: 100%;
}

hr
{
    height: 5px;
    background: linear-gradient(to right, orange, purple);
}

.modal
{
  position: relative;
}

.generos
{
  background-color: rgb(10, 10, 59);
  border-radius: 999px;
  width: 155px;
  text-align: center;
  margin-right: 15px;
  color: orange;
  margin-bottom: 10px;
}

.estrelas input[type=radio] {
    display: none;
  }
  .estrelas label i.fa{
    font-size: 2.5em
  }
  .estrelas label i.fa:before {
    content:'\f005';
    color: #FC0;
  }
  .estrelas input[type=radio]:checked ~ label i.fa:before {
    color: #CCC;
  }