#buscaHome
{
    width: 95%;
    border-radius: 50px;
    padding-left: 15px;
}

#containerPesquisa
{
    height: 300px;
}

footer
{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

#tituloNav
{
    transition: ease-in 1ms;
}