footer
{
    display: flex;
    background-color: rgb(10, 10, 59);
    position: fixed;
    margin-top: 30px;
    bottom: 0;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    flex-direction: column;
}

nav
{
    background: linear-gradient(to left, rgb(40, 40, 102), rgb(10, 10, 59), rgb(7, 7, 59));
    color: orange;
    height: fit-content;
}

main
{
    margin-top: 50px;
}

#buscaHome
{
    width: 95%;
    border-radius: 50px;
    padding-left: 15px;
}

#containerLancamentos
{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border: 1px outset orange;
    border-radius: 25px;
}

#containerAvaliados
{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border: 1px outset orange;
    border-radius: 25px;
}

#tituloNav
{
    transition: ease-in 1ms;
}

#background1, #background2, #background3, #background4
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    transition: ease-in-out 1s;
}

.imagemFilme
{
    width: 156px;
    height: 218px;
    margin: 5px;
    margin-right: 15px;
    border-radius: 15px;
}

.imagemFilme:hover
{
    border: solid 3px red;
    transition: linear 0.1s;
}

.notaFilme
{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    bottom: 35px;
    right: 70px;
    border-radius: 999px;
    background-color: rgb(10, 10, 59);
    color: yellow;
    border: 1px outset orange;
}

.titulo
{
    display: flex;
    position: relative;
    bottom: 50px;
}